/*
Fichier de surcharge CSS de la page bootstrap.html, les classes créées ici seront préfixées des caractères "cs-"
*/
@import url('./AARDC.css');

.cs-site-title{
    font-family: 'aardvark';
    font-weight: normal;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    /* 16:9 aspect ratio */
    height: 0;
    overflow: hidden;
}

.video-container video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.custom-controls {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.playlist-item {
    cursor: pointer;
}

.playlist-item:hover {
    background-color: #f8f9fa;
}