:root {
  font-family: Arial, Helvetica, sans-serif;
}

body{
    margin: 0;
}

table{
    border-collapse: collapse;
}

td, th{
    border: 1px solid #666;
    padding: 0.25rem;
}

@media screen {
    .page{
        padding: 0.5rem;
    }
}

@media print {
    body{
        font-size: 65%;
    }

    td, th{
        font-size: 45%;
    }

    h1{
        font-size: 1rem;
    }

  @page {
    size: landscape;
    margin: 0;
    bleed: 0;
  }

  .book {
    width: 100vw;
    height: 100vh;
    display: grid;
    gap: 0px;
    grid-template-areas:
      "page-5 page-4 page-3 page-2"
      "page-6 page-7 page-8 page-1";
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: repeat(2, 50%);
  }

  .page {
    background: white;
    padding: 0.2rem;
    overflow: hidden;
    border: 1px solid rgba(0, 0, 0, 0.2);
  }

  .page-1 {
    grid-area: page-1;
  }

  .page-2 {
    grid-area: page-2;
  }

  .page-3 {
    grid-area: page-3;
  }

  .page-4 {
    grid-area: page-4;
  }

  .page-5 {
    grid-area: page-5;
  }

  .page-6 {
    grid-area: page-6;
  }

  .page-7 {
    grid-area: page-7;
  }

  .page-8 {
    grid-area: page-8;
  }

    .page-5,
  .page-4,
  .page-3,
  .page-2 {
    transform: rotate(180deg) translateX(-0.1px);
  }
}
