/*
Commentaire en CSS

CSS => Cascading Style Sheets (Feuilles de style en cascade)

La cascade 

Principe de base : Si on déclare du CSS pour un élément, la quasi-totalité des éléments à l'intérieur de celui-ci appliqueront ce style par HÉRITAGE

En revanche, si un style est appliqué en particulier à un des éléments à l'intérieur, ce style praticulier ira surcharger l'héritage

Les sélecteurs CSS

Pour appliquer des propriétés CSS (du style) sur des éléments et les éléments à l'intérieur, il faut indiquer au navigateurs quels sont es élément en utilsants un Sélecteur CSS.

# => sélécteur d'élément avec un id défini
    ATTENTION : Les id d'une page doivent être UNIQUES
    Ex : <h3 id="mise-a-zero-du-css">Mise à zéro du CSS</h3>

    Sélécteur : 
        #mise-a-zero-du-css{
            -- CSS
        }

. => sélécteur par nom de classe
    Ex : <span class="danger">code</span>
    Ex : <span class="danger toto">code</span>

    Sélécteur : 
    .danger{
        -- CSS
    }

balise => Sélécteur par nom de balise

    Ex : <h1>Titre</h1>

    Sélécteur : 
    h1{
        -- CSS
    }


En réalité : 
on mélange TOUT !

Sélecteur d'un élément particulier avec une classe particulière

<span class="danger"></span>
<button class="danger"></span>

.danger{
    color: darkred;
}

span.danger{
    font-weight: bold;
}

button.danger{
    border-color: darkred;
}

un élément ayant une classe particulière dans un élément particulier

Désignation par "filiation" large

article .danger{
    -- CSS
}

<article>
    <span class="danger">toto(article .danger)</span>
    <p class="danger">
        Applique article .danger
    </p>
    <div>
        <p>
            <b class="danger">toto (article .danger)</b>
        </p>
    </div>
</article>

Désignation par filiation directe

article > .danger{
    ---
}

seuls les élément directement enfant (1er degré) d'un article qui possèdent au moins la classe danger seront impacté

<article>
    <span class="danger">toto(article > .danger)</span>
    <p class="danger">
        Applique article > .danger
    </p>
    <div>
        <p>
            <b class="danger">toto (n'applique pas une div et un p entre lui et article)</b>
        </p>
    </div>
</article>

Sélecteur "magique"

* => n'importe quelle suite de caractère donc tous les éléments de la page

section * => tous les éléments, quelque soit le degré, dans un article

section > * => tous les éléments, du premier degré, dans une section

Pseudo-sélecteurs

before et after : c'est l'espace entre la marge intérieur d'un élément et sont contenu.

q::before, q::after{
    font-weight: bold;
}

Pseudo-classes

Certains éléments changent "d'état" dans leurs utilisation, par exemple, quand la souris passe "au dessus" (survol), un élément est dans l'état "survolé" :hover

q:hover{
    color: red;
    background-color: black;
    cursor: pointer;
}

quand un élément q est survolé, la police de caractère devient rouge et la couleur de fond passe au noir.

:root

Un espace de déclaration de propriétés CSS, qui s'appliquent à tout le document, avant le CSS du navigateur

il est possible de centraliser des comportements et des "standards" de style directement dans le root

Comme en CSS on peux déclarer des variables sous la forme --nom-de-variable ou --variable, etc. il divient facile de maîtriser la maintenance et les changements dans le css

Unités de tailles en CSS (en web)

Unités les plus souvent utilisées en web

px      =>  pixel il est possible de mesure avec des virgules, 23.8px
em      =>  cadratin. Historiquement unité de mesure en print sur les presses.
            Le cadratin se calcul par rapport à la taille du parent
rem     =>  cadratin racine, lui se calculera toujours depuis la taille racine du cadratin, 
            - soit celle du navigateur 
            - soit celle surchargée dans le :root
%       =>  La taille définie en % se calcule par rapport à l'espace disponible autour de l'élément définie en %
vw & vh =>  vw : viewport width (largeur de la surface d'affichage de l'appareil)
            vh : viewport height ( hauteur d'affichage de l'appareil)
            50vh => 50% de la taille d'affichage du l'appareil
            si la largeur d'affichage du site 360px (100vw)
            50vw = 180px

*/

/* déclarations dans le root */

:root{
    font-family: Arial, Helvetica, sans-serif;
    --font-size: 1.2rem;
    font-size: var(--font-size);
    line-height: 1.5rem;
    --header-bg-color: #167698;
    --header-color: white;
    --header-link-color: #CF3E36;
    --header-link-color-op-50: rgba(207, 62, 54, 0.5);
    --main-nav-bg-color: #167698;
    --main-nav-color: white;
    --main-nav-link-color: white;
    --general-link-color: #CF3E36;
    --gutter: 0.5rem;
    scroll-behavior: smooth;

    --light-border-color: #666;
    --dark-border-color: black;
    --info-border-color: #1583e3;
    --danger-border-color: #ea2a3d;
    --success-border-color: #07ca73;
    --warning-border-color: #ec8a12;
    
    --light-bg-color: #ddd;
    --dark-bg-color: #454545;
    --info-bg-color: #b4d0e8;
    --danger-bg-color: #f1aeb5;
    --success-bg-color: #a3cfbb;
    --warning-bg-color: #f1d3ae;

    --dark-color: white;
}

/* déclarations générales */

*, *::before, *::after{
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: var(--general-link-color);
}

.img-fluid{
    max-width: 100%;
}

/* déclaration des classes CSS */

.site-title{
    font-size: calc( 1.1rem + 3vw );
    line-height: calc( 1.1rem + 4vw );
}

.vignette-100,
.miniature-100, 
.avatar-100{
    width: 100px;
    height: 100px;
    margin: var(--gutter);
    object-position: center center;
    background-color: #333;
}

.vignette-100{
    object-fit: cover;
}

.miniature-100{
    object-fit: contain;
}

.avatar-100{
    object-fit: cover;
    border-radius: 50%;
}

.obj-pos-top{
    object-position: top;
}

figure.media-legend{
    background-color: #333;
    display: inline-block;
    padding: var(--gutter);
    border-radius: var(--gutter);
}

figure.media-legend > div{
    display: table;
    margin: 0 auto;
}

figure.media-legend figcaption{
    display: table-caption;
    caption-side: bottom;
    color: var(--header-color);
}

figure.video{
    margin-left: 0;
    margin-right: 0;
}

/* classes des message */

.message, .btn{
    font-size: 0.9rem;
    font-style: italic;
    border: 2px solid transparent;
    padding: calc(var(--gutter) /2 );
    border-radius: calc(var(--gutter) /2 );
    margin: var(--gutter);
}

.btn{
    font-style: normal;
}

.btn:hover, 
.btn:focus,
.btn:focus-visible{
    cursor: pointer;
    opacity: 0.8;
}

.message-info, .btn-info{
    border-color: var(--info-border-color);
    background-color: var(--info-bg-color);
}

.message-success, .btn-success{
    border-color: var(--success-border-color);
    background-color: var(--success-bg-color);
}

.message-warning, .btn-warning{
    border-color: var(--warning-border-color);
    background-color: var(--warning-bg-color);
}

.message-danger, .btn-danger{
    border-color: var(--danger-border-color);
    background-color: var(--danger-bg-color);
}

.message-light, .btn-light{
    border-color: var(--light-border-color);
    background-color: var(--light-bg-color);
}

.message-dark, .btn-dark{
    border-color: var(--dark-border-color);
    background-color: var(--dark-bg-color);
    color: var(--dark-color);
}

.badge{
    width: 200px;
    height: 200px;
    margin: var(--gutter);
    background: radial-gradient(rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.8)), 
    url('../images/pip-boy-boy.png');
    background-color: brown;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    border-radius: 50%;
    border: 3px, solid cadetblue;
    box-shadow: 0px 0px 10px 1px;
}

/* déclarations selon la structure de la page HTML */

body > header > *,
body > nav > *,
main > header,
main > aside,
main > section > *,
body > footer > *{
    padding: 0 var(--gutter);
}

body{
    margin: 0;
}

body > header{
    background-color: var(--header-bg-color);
    color: var(--header-color);
}

body > nav{
    background-color: var(--main-nav-bg-color);
}

body > nav ul{
    margin: 0;
    list-style-type: none;
    padding: 0;
}

body > nav li{
    border-top: 1px solid var(--main-nav-link-color);
}

body > nav a{
    color: var(--main-nav-link-color);
    display: block;
    padding-left: var(--gutter);
    padding-right: var(--gutter);
}

body > nav a:hover,
body > nav a:focus, 
body > nav a:focus-visible{
    outline: none;
    color: var(--main-nav-bg-color);
    background-color: var(--main-nav-link-color);
}

body > footer{
    background-color: var(--main-nav-bg-color);
    color: var(--header-color);
}

/* media queries */

@media print{
    
    @page{
        size: A4;
        padding: 2cm 1.5cm;
    }

    body > nav,
    body > footer{
        display: none;
    }
}
/* Tout ce qui est déclaré avant la media querie suivante concerne une largeur d'écran inférieur strictement à 576px */

.container{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (min-width: 576px) {
    .container{
        width: 540px;
    }
}

@media screen and (min-width: 768px) {
    .container{
        width: 720px;
    }

    .toc{
        column-count: 2;
    }
}

@media screen and (min-width: 992px) {
    .container{
        width: 960px;
    }
}

@media screen and (min-width: 1200px) {
    .container{
        width: 1140px;
    }

    .toc{
        column-count: 3;
    }
}

@media screen and (min-width: 1400px) {
    .container{
        width: 1320px;
    }
}